<!-- <div class="container-fluid"> -->

    <header>
      <div class="navBar">Home</div>
      <div class="navBar">About</div>
      <div class="navBar">Services</div>
      <div class="navBar">Book an Appointment</div>
      <div class="navBar">Contact</div>
    </header>

    <div class="parallax">
      <div class="container-fluid">

        <div class="row">
          <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-default">
              <div class="panel-heading">This is a Panel Heading</div>
                <div class="panel-body">
                  Enter some content here
                </div> <!-- end panel body -->
            </div>
          </div> <!-- end first column -->
        </div> <!-- end first row -->

        <div class="row">
          <div class="col-sm-4 buttons">
            <div class="btn btn-default">Why Detail</div>
          </div>

          <div class="col-sm-4 buttons">
            <div class="btn btn-default">What is Ceramic Coating?</div>
          </div>

          <div class="col-sm-4 buttons">
            <div class="btn btn-default">Marine Detailing</div>
          </div>

        </div> <!-- end second row -->
      </div>
    </div> <!-- end parallax -->


    <div class="parallax2">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-default secondPanel">
              <div class="panel-heading">More Content</div>
                <div class="panel-body">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                  sed do eiusmod tempor incididunt ut labore et dolore magna
                   aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                   ullamco laboris nisi ut aliquip ex ea commodo consequat.
                  Duis aute irure dolor in reprehenderit in voluptate velit
                   esse cillum dolore eu fugiat nulla pariatur. Excepteur
                   sint occaecat cupidatat non proident, sunt in culpa qui
                   officia deserunt mollit anim id est laborum.
                </div> <!-- end panel body -->
            </div>
          </div> <!-- end first column -->
        </div> <!-- end first row -->
      </div>
    </div> <!-- end parallax -->

<!-- </div> -->
